[submodule "BankChurnPrediction"]
	path = BankChurnPrediction
	url = https://github.com/sheikhomer/BankChurnPrediction.git
[submodule "CreditCardChurnPrediction"]
	path = CreditCardChurnPrediction
	url = https://github.com/sheikhomer/CreditCardChurnPrediction.git
[submodule "PersonalLoanCampaignModel"]
	path = PersonalLoanCampaignModel
	url = https://github.com/sheikhomer/PersonalLoanCampaignModel.git
[submodule "FoodHubDataAnalysis"]
	path = FoodHubDataAnalysis
	url = https://github.com/sheikhomer/FoodHubDataAnalysis.git
[submodule "PlantSeedlingsClassification"]
	path = PlantSeedlingsClassification
	url = https://github.com/sheikhomer/PlantSeedlingsClassification.git
[submodule "StockMarketSentimentAnalysisAndSummarization"]
	path = StockMarketSentimentAnalysisAndSummarization
	url = https://github.com/sheikhomer/StockMarketSentimentAnalysisAndSummarization.git
